body {
  background-color: whitesmoke !important;
}
.img-frame {
  border-bottom: 3px solid rgba(56,56,56,0.3);
  border-right: 3px solid rgba(56,56,56,0.3);
  border-radius: 40px 0px 40px 0px;
}

a.characters-title{
  color: black;
}

.characters-title:hover {
  font-style: italic;
}

.shine {
  height: 20px;
  width: 60%;
  background-image: radial-gradient(
    farthest-side at 50% -50%,
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0));
  position: relative; 
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.btn-twin {
  margin: 5px;
}

.pre-wrap-me {
  white-space: pre-wrap;
}


.force-center {
  margin: 0 auto !important;
}

.pr-0 {
  margin-right: 0 !important;
}

.green {
  color: green !important;
  border-bottom: 1px solid green;
}

.red {
  color: red !important;
  border-bottom: 1px solid red;
}

.overflow-hidden{
  overflow: hidden;
}

.inline-form {
  display: inline-block !important;
  width: 60% !important;
}

@media only screen and (max-width: 575px) {
  .no-show-wen-smol-pls {
    display: none !important;
  }
  .width-100 {
    width: 100% !important;
  }
  .u:after {
    content: "Upvote"
  }
  .d:after {
    content: "Downvote"
  }
  .comment-message {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}
.comment-message {
  margin-left: 75px;
  padding-left: 10px;
}
body {
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #1a1919 !important;
  color: #999!important;
}

.dark-mode-2 {
  background-color: transparent !important;
  color: inherit !important;
}

.width2-100 {
  width: 100% !important;
}