body {
  background-color: whitesmoke !important;
}
.img-frame {
  border-bottom: 3px solid rgba(56,56,56,0.3);
  border-right: 3px solid rgba(56,56,56,0.3);
  border-radius: 40px 0px 40px 0px;
}

a.characters-title{
  color: black;
}

.characters-title:hover {
  font-style: italic;
}

.shine {
  height: 20px;
  width: 60%;
  background-image: radial-gradient(
    farthest-side at 50% -50%,
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0));
  position: relative; 
}

.f-l {
  float: left;
}

.btn-twin {
  margin: 5px;
}

.pre-wrap-me {
  white-space: pre-wrap;
}


.force-center {
  margin: 0 auto !important;
}